<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>hands on 2</title>
    </head>
    <body>
        {{range .}}
            {{.Region}}
            {{range .Hotels}}
                {{.Name}}
                {{.Address}}
                {{.City}}
                {{.Zip}}
                {{.Region}}
            {{end}}
        {{end}}
    </body>
</html>