<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>hands on 3</title>
    </head>
    <body>
        {{range .}}
            {{.Name}}
            {{.Descrip}}
            {{.Meal}}
            {{.Price}}
        {{end}}
    </body>
</html>