<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>hello</title>
    </head>
    <body>
        time without formatting : {{.}}

        time with formatting : {{tf .}}
    </body>
</html>