<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>define templates</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        {{template "header"}}
        {{template "btf"}}

    </body>
</html>