<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>hello world</title>
    </head>
    <body>
        {{$wisdom := .}}
        <h1>the meaning of life : {{$wisdom}}
    </body>
</html>