<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>composition and methods</title>
    </head>
    <body>
        <h1>{{.Name}}</h1>
        <h1>{{.Age}}</h1>
        <h3>{{.SomeProcessing}}</h3>
        <h3>{{.AgeDbl}}</h3>
        <h3>{{.SomeProcessing | .TakesArg}}</h3>
    </body>
</html>