<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>hands on 2</title>
    </head>
    <body>
        {{.Region}}
        {{range .Hotes}}
            {{.Name}}
            {{.Address}}
            {{.City}}
            {{.Zip}}
        {{end}}
    </body>
</html>