<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>hello</title>
    </head>
    <body>
        <ul>
            {{range .Wisdom}}
            <li>{{uc .Name}}</li>
            {{end}}
        </ul>
        <ul>
            {{range .Wisdom}}
            <li>{{ft .Name}}</li>
            {{end}}
        </ul>
    </body>
</html>