<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>hello world</title>
    </head>
    <body>
        <ul>
            {{range .}}
            <li>{{.Country}}  -  {{.Name}}</li>
            {{end}}
            </ul>
    </body>
</html>