<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>composition and methods</title>
    </head>
    <body>
        {{.}}
        {{.Name}}
        {{.Age}}
        {{if .LicenceToKill}}
            has licence to kill
        {{else}}
            does not have licence to kill
        {{end}}
    </body>
</html>